@model List<MoviesWebApp.Models.Product>


@{
}
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show All Products - Admin functionality</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Title</td>
                    <td>Categories</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Title</td>
                        <td>
                            <div class="d-flex">
                                @foreach (var category in product.Categories)
                                {
                                    <span class="badge bg-secondary me-1">@category.Name</span>
                                }
                            </div>
                        </td>
                        <td>
                            <a asp-area=""
                               asp-controller="AdminProduct"
                               asp-action="Edit"
                               asp-route-id="@product.Id">
                                Edit
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No products found!</p>
    }
</div>